:root {
    font-family: monospace;
    font-size: 14px;
    --bg-primary: #1f1f1f;
    --bg-secondary: #4b4b4b;
    --text-primary: #f2ceff;
    --text-secondary: #00c896;
}
body::-webkit-scrollbar {
    width: 0.4em;/*changes scrollbar properties*/
}
body::-webkit-scrollbar-track{
    background: var(--text-primary);
}
body::-webkit-scrollbar-thumb{
    background: var(--bg-secondary);
    border-radius: 1rem;
}
body{
    background: white;
    color: var(--bg-secondary);
}
table, th, td{
    border-collapse: collapse;
    border-style: dotted;
}
hr{
    border-style: dotted;
}
.container{
    border: 1px solid var(--bg-primary);
    background-color: var(--bg-primary);
    color: var(--text-primary);
    border-radius: 5px;
    width: 24rem;
    height: 12rem;
    padding: 2rem;
    padding-top: 0;
    padding-bottom: 5rem;
}
.container .heading{
    background: var(--bg-secondary);
    width: 100%;
    border-radius: 5px;
}
.container h1, h2{
    color: var(--text-secondary);
}
.container i{
    color: goldenrod;
}
.container .content{
    display: flex;
    justify-content: space-between;
}
.container .qr-code{
    width: 4rem;
    height: 4rem;
    border: 1px solid var(--bg-primary);
}
alert{
    color: goldenrod;
}

/*StaffID*/
.staff-container{
    border: 1px solid var(--bg-primary);
    background-color: var(--bg-primary);
    color: var(--text-primary);
    border-radius: 5px;
    width: 24rem;
    height: 12rem;
    padding: 2rem;
    padding-top: 0;
    padding-bottom: 5rem;
}
.staff-container .heading{
    background: var(--text-secondary);
    width: 100%;
    border-radius: 5px;
}
.staff-container h1, h2{
    color: var(--bg-primary);
}
.staff-container i{
    color: var(--bg-secondary);
}
.staff-container .content{
    display: flex;
    justify-content: space-between;
}
.staff-container .qr-code{
    width: 4rem;
    height: 4rem;
    border: 1px solid var(--bg-primary);
}
.receipt{
    width: 18rem;
    border: 1px solid var(--bg-primary);
    color: var(--bg-primary);
    background: var(--text-primary);
    padding: 2rem;
}
.receipt i {
    color: var(--text-secondary);
    display: flex;
    justify-content: center;
}
.receipt .qr-code{
    width: 4rem;
    height: 4rem;
    border: 1px solid var(--bg-primary);
    display: flex;
    margin-left: auto;
}